.board-top-list-item {
  display: flex;
  position: relative;
  width: 430px;
  height: 76px;
}

.board-top-list-item:nth-of-type(1),
.board-top-list-item:nth-of-type(3),
.board-top-list-item:nth-of-type(5),
.board-top-list-item:nth-of-type(7) {
  margin-right: 40px;
}

.board-top-list-item p {
  width: 310px;
  height: 48px;
  position: relative;
  font-size: 16px;
  padding-left: 7px;
  margin-bottom: 5px;
}

.menu-color {
  margin-right: 5px;
  color: #444;
}

.board-top-thumb {
  height: 71px;
  margin-left: 20px;
}

.board-top-thumb-img {
  width: 100px;
  height: 71px;
  object-fit: cover;
}
