.board {
  position: relative;
  width: 900px;
  margin: 0 0 50px 63.5px;
  overflow: hidden;
}

.board-list {
  width: 900px;
  margin-top: 10px;
  border-top: 1px solid #ccc;
}

.board-collection {
  display: flex;
  width: 1400%;
}

.board-controller {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 50px;
  align-items: center;
  transform: translateX(-50%);
}

.board-controller i {
  font-size: 30px;
}

.list-paging button {
  font-size: 17px;
  margin-right: 18px;
  color: #999;
}

.list-paging .on {
  color: #333;
}

.list-paging-left {
  opacity: 0;
  visibility: hidden;
  margin-right: 18px;
}
