.main-news-list-item {
  position: relative;
  border-bottom: 1px solid rgba(219, 216, 216, 0.5);
  padding: 12px 0;
}

.main-news-list-item p {
  position: relative;
  font-size: 16px;
  padding-left: 7px;
}

.menu-color {
  margin-right: 5px;
  color: #444;
}

.thumb {
  position: absolute;
  top: 50%;
  right: 90px;
  transform: translateY(-50%);
  height: 50px;
}

.thumb-img {
  width: 50px;
  height: 50px;
}

.comment {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 25px;
  height: 50px;
  color: #999;
  margin-right: 30px;
}

.comment-number {
  position: absolute;
  bottom: 7.5px;
  left: -5px;
  font-size: 14px;
  text-align: center;
}

.new-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: red;
}
