.detail-wrap textarea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.detail-wrap textarea::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.detail-wrap {
  width: 79%;
  margin-top: 87px;
}

/* 디테일 헤더 */

.detail-wrap header {
  margin: 0 20px;
  border-bottom: 1px solid #ccc;
}

.detail-wrap header h2 {
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 6px;
  color: rgb(11, 173, 11);
  font-weight: normal;
}

.detail-wrap header h3 {
  font-size: 24px;
}

.detail-wrap header .profile-wrap {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 20px;
}

.detail-wrap header .profile-wrap img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.detail-wrap header .profile-wrap span {
  margin-right: 12px;
}

/* 디테일 섹션부분(컨텐츠) */
.detail-wrap section {
  width: 100%;
  padding: 60px 20px 40px;
}

.detail-wrap section .content::after {
  display: block;
  content: '';
  clear: both;
}

.detail-wrap section p {
  line-height: 1.5;
  font-size: 14px;
  white-space: pre-wrap;
}

.detail-wrap section .hashTag-box {
  margin: 70px 0;
  color: burlywood;
}

.detail-wrap section .button-box button {
  min-width: 58px;
  height: 44px;
  padding: 0 20px;
  color: #6a6a6a;
  border: 1px solid #d1d1d1;
  border-radius: 22px;
  outline: none;
}

.detail-wrap section .button-box .likes-button {
  position: relative;
  padding-left: 40px;
  width: 90px;
  margin-right: 4px;
}

.detail-wrap section .button-box .likes-button::before {
  position: absolute;
  left: 15px;
  top: 35%;
  width: 20px;
  height: 16px;
  background-image: url(https://dszw1qtcnsa5e.cloudfront.net/bin/live/console-community-view/assets/web/pc/icon-heart.gif);
  content: '';
  transition: 0.3s;
}

.detail-wrap section .button-box .likes-button.on::before {
  background-position-y: -100%;
}

/* 디테일 댓글 등록부분  */
.detail-wrap .comment-wrap {
  width: 100%;
  padding: 0 20px;
}

.detail-wrap .comment-wrap .comment-count {
  margin-bottom: 12px;
}

.detail-wrap .comment-wrap .comment-wrap-form {
  width: 100%;
  height: 120px;
  border: 1px solid #ccc;
  position: relative;
  margin-bottom: 36px;
}

.detail-wrap .comment-wrap textarea {
  display: inline-block;
  width: 85%;
  height: 110px;
  padding: 10px 0 0 10px;
  outline: none;
  resize: none;
}

.detail-wrap .comment-wrap button {
  width: 15%;
  height: 120px;
  border: 1px solid #000;
  position: absolute;
  top: -1px;
  right: -1px;
}

/* 디테일 페이지제이션 스타일링 */
.detail-wrap .comment-form-wrap .pagiNation-wrap {
  text-align: center;
}
.comment-form-wrap .pagiNation-wrap button {
  border: 1px solid burlywood;
  border-radius: 5px;
  width: 24px;
  height: 24px;
  color: #ccc;
}

.comment-form-wrap .pagiNation-wrap button.active {
  background: burlywood;
  color: #fff !important;
}

.comment-form-wrap .pagiNation-wrap button:hover {
  color: #fff;
  background: burlywood;
}

.comment-form-wrap .pagiNation-wrap button + button {
  margin-left: 20px;
}

/* 디테일 댓글부분  */
.detail-wrap .comment-section-wrap {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin: 20px;
  padding-bottom: 20px;
}

.detail-wrap .comment-section-wrap.on {
  padding-left: 52px;
}

.detail-wrap .comment-section-wrap img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.detail-wrap .comment-section-wrap .comment-secion-content {
  font-size: 14px;
}

.comment-section-wrap .comment-secion-content p {
  margin-top: 8px;
  line-height: 1.5;
  white-space: pre-wrap;
}

.comment-section-wrap .comment-secion-content .content-profile,
.comment-section-wrap .comment-secion-content .info-wrap {
  color: rgb(119, 119, 119);
}

.comment-section-wrap .comment-secion-content .info-wrap {
  margin-top: 20px;
}
.comment-secion-content .info-wrap .info-date {
  margin-right: 16px;
}
.comment-secion-content .info-wrap i {
  cursor: pointer;
  transition: 0.3s;
}

.comment-secion-content .info-wrap i.on {
  color: red;
}

.comment-secion-content .info-wrap .re-comment {
  cursor: pointer;
  margin-left: 20px;
}

.comment-secion-content .info-wrap .re-comment.on {
  color: #000;
  text-decoration: underline;
}

/* 디테일 답글부분 폼  */
.comment-section-wrap .comment-secion-content .re-comment-form {
  width: 935px;
  height: 60px;
  border: 1px solid #ccc;
  margin-top: 10px;
  position: relative;
}

.comment-secion-content .re-comment-form textarea {
  width: 94%;
  height: inherit;
  outline: none;
  padding: 7px;
  resize: none;
}

.comment-secion-content .re-comment-form button {
  width: 6%;
  position: absolute;
  bottom: 5px;
  right: -5px;
}

.comment-secion-content .re-comment-form button:active {
  color: red;
}

/* 디테일리스트 부분 */

.DetailList-wrap {
  width: 96.5%;
  margin: 100px auto 0;
  position: relative;
}

.DetailList-wrap button {
  position: absolute;
  margin-top: 20px;
  right: 10px;
}

.DetailList-wrap h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

.DetailList-wrap .DetailList-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14px;
  border-bottom: 1px solid #ccc;
}

.DetailList-wrap .DetailList-form:hover {
  background: #f5f5f5;
}

.DetailList-wrap .DetailList-form .DetailList-form-title {
  cursor: pointer;
}

.DetailList-wrap .DetailList-form .DetailList-form-info {
  margin-top: 4px;
  font-size: 14px;
  color: #999;
}

.DetailList-form .DetailList-form-info .eye,
.DetailList-form .DetailList-form-info .heart {
  margin-left: 12px;
  cursor: pointer;
}

.DetailList-form .DetailList-another-wrap {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DetailList-form .DetailList-another-wrap img {
  width: 50px;
  height: 50px;
}

.DetailList-form .DetailList-another-wrap .DetailList-comment-wrap {
  color: #999999;
  font-size: 14px;
  text-align: center;
}

.DetailList-form .DetailList-another-wrap .DetailList-comment-wrap i {
  font-size: 20px;
  cursor: pointer;
}
