.foodGame-wrap {
  width: 79.23%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.foodGame-wrap .foodGame-button-wrap {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.foodGame-wrap .foodGame-button-wrap .foodGameButton {
  background: beige;
  text-align: center;
  width: 50%;
  outline: none;
  margin-bottom: 20px;
  padding: 10px 5px;
}

/* Result 페이지  */

.foodGame-wrap.result {
  padding-top: 50px;
}

.foodGame-wrap.result img {
  width: 30%;
  margin-bottom: 20px;
}

.foodGame-wrap.result h2 {
  margin-bottom: 12px;
}

.foodGame-wrap.result p {
  margin-bottom: 20px;
}

.foodGame-wrap.result button {
  border: burlywood 1px solid;
  background: none;
  outline: none;
  padding: 10px 5px;
}
