.foodGame-wrap {
  padding-top: 350px;
  padding-left: 250px;
  /* width: 100%; */
}

.foodGame-wrap .foodGame-button-wrap {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.foodGame-wrap .foodGame-button-wrap button {
  background: beige;
  margin-right: 20px;
  padding: 10px 10px;
  text-align: center;
  width: 500px;
}
