.foodGame-wrap {
  width: 79.23%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.foodGame-wrap .foodGame-button-wrap {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.foodGame-wrap .foodGame-button-wrap .foodGameButton {
  background: beige;
  text-align: center;
  width: 50%;
  outline: none;
  margin-bottom: 20px;
  padding: 10px 5px;
}

/* Result 페이지  */

.foodGame-result-wrap {
  width: 79.23%;
  margin-top: 87px;
  padding: 50px 30px 0;
}

.foodGame-result-wrap .foodGame-result-box {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.foodGame-result-wrap .foodGame-result-box img {
  width: 30%;
}

.foodGame-result-wrap .foodGame-result-box .result-info h2 {
  margin-bottom: 24px;
}

.foodGame-result-wrap .foodGame-result-box .result-info p {
  line-height: 1.5;
}

.foodGame-result-wrap button {
  border: burlywood 1px solid;
  background: none;
  outline: none;
  padding: 10px 5px;
  margin-top: 20px;
}
