button {
  background: none;
  outline: none;
  margin-bottom: 20px;
  padding: 10px 5px;
}

.onTag {
  border: black 1px solid;
}

.offTag {
  border: burlywood 1px solid;
}

.share-wrap {
  padding-left: 20px;
  padding-top: 50px;
}

.share-contents-wrap {
  margin-top: 30px;
  width: 1000px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.share-contents-wrap .share-contents {
  width: 45%;
  height: 100%;
  margin-right: 2%;
}

.share-contents-wrap .share-contents img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}

.share-contents-wrap .share-contents .hashTagContents {
  margin-bottom: 30px;
}
