.share-wrap {
  padding-left: 20px;
  padding-top: 120px;
}

.share-contents-wrap {
  margin-top: 10px;
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.share-contents-wrap .share-contents {
  width: 45%;
  height: 100%;
  margin-right: 2%;
  margin-bottom: 20px;
  border: 1px solid black;
}

.share-contents-wrap .share-contents h2 {
  font-size: 21px;
}

.share-contents-wrap .share-contents img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
