.share-wrap {
  padding-left: 20px;
  padding-top: 120px;
}

.share-wrap span button {
  border: 1px solid black;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 10px;
}

.share-wrap span .on {
  border: 1px solid burlywood;
  color: burlywood;
}

.share-wrap .loading {
  width: 100%;
  background: cadetblue;
  color: white;
  height: 100px;
  text-align: center;
}

.share-contents-wrap {
  margin-top: 10px;
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.share-contents-wrap .share-contents {
  width: 45%;
  height: 100%;
  margin-right: 2%;
  margin-bottom: 20px;
  border: 1px solid black;
}

.share-contents-wrap .share-contents h2 {
  font-size: 21px;
}

.share-contents-wrap .share-contents img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.share-contents-wrap .share-contents i {
  cursor: pointer;
}

.share-contents-wrap .share-contents i.fas {
  color: red;
}
