button {
  background: none;
  outline: none;
  margin-bottom: 20px;
  padding: 10px 5px;
}

.onTag {
  border: burlywood 1px solid;
}

.offTag {
  border: black 1px solid;
}

.hashTagContents img {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.hashTagContents {
  margin-bottom: 30px;
}
