.login-content {
  position: relative;
  width: 1027px;
  height: 600px;
  margin-top: 87px;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  text-align: center;
}

.login-form header {
  width: 100%;
  margin-bottom: 30px;
  font-size: 25px;
}

.login-box {
  text-align: left;
  margin-bottom: 20px;
}

.login-box:last-child {
  margin-bottom: 0px;
}

.login-text {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 50px;
}

.login-box h3 {
  margin-bottom: 10px;
  padding-left: 5px;
}

.login-submit {
  width: 98%;
  background-color: rgb(214, 171, 171);
  font-size: 18px;
  color: #fff;
  padding: 10px 0;
  border-radius: 10px;
  margin-top: 10px;
}

.button-list {
  display: flex;
  justify-content: flex-end;
}

.button {
  color: #999;
  margin-top: 10px;
}
