.board {
  position: relative;
  width: 100%;
  padding: 0 62.5px;
}

.board-list {
  margin-top: 10px;
  width: 100%;
  border-top: 1px solid #ccc;
}

.board-collection {
  display: flex;
}

.video-board-controller {
  display: flex;
  position: absolute;
  left: 50%;
  height: 50px;
  align-items: center;
  transform: translateX(-50%);
}

.video-board-controller i {
  font-size: 30px;
}

.list-paging button {
  font-size: 17px;
  margin-right: 18px;
  color: #999;
}

.list-paging .on {
  color: #333;
}

.list-paging-left {
  display: none;
  margin-right: 18px;
}
