.video-board-footer {
  position: absolute;
  bottom: -180px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.video-board-footer img {
  width: 70px;
  height: 50px;
  object-fit: cover;
  margin-top: 20px;
}

.video-board-footer p {
  font-size: 12px;
  color: #999;
}

.video-board-footer p a {
  color: #333;
  margin-right: 7px;
}
