.info {
  padding-left: 10px;
  margin-top: 3px;
  font-size: 14px;
  color: #999;
}

.title {
  margin-right: 10px;
}

.speaker {
  margin-right: 3px;
}

.date {
  margin-right: 10px;
}

.eye {
  margin-right: 3px;
}

.counter-like {
  margin-right: 10px;
}

.heart {
  margin-right: 3px;
}
.comment-box .comment-icon {
  margin-right: 3px;
}
