.contents {
  position: relative;
  width: 1027px;
  height: 1100px;
  margin-top: 87px;
}

.section-top {
  width: 100%;
}

.section-bottom {
  width: 100%;
  margin-top: 30px;
}

.section-footer {
  width: 100%;
  margin-top: 30px;
}
