.gnb-menu {
  width: 100%;
  padding-left: 10px;
  margin-top: 80px;
}

.gnb-menu-list {
  text-align: left;
}

.gnb-menu-list i {
  font-size: 20px;
  margin-right: 15px;
  pointer-events: none;
}

.gnb-menu-item-chevron-down {
  position: relative;
  margin-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.gnb-menu-item-chevron-up {
  position: relative;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.gnb-menu-item-chevron-down:last-child {
  margin-bottom: 0;
}

.gnb-menu-item-chevron-up:last-child {
  margin-bottom: 0;
}

.gnb-menu-item-chevron-down .chevron {
  position: absolute;
  top: 7px;
  right: 0;
  font-size: 15px;
  transition: all 0.5s;
}

.gnb-menu-item-chevron-up .chevron {
  position: absolute;
  top: 7px;
  right: 0;
  font-size: 15px;
  transform: rotate(180deg);
  transition: all 0.5s;
}

.gnb-menu-item-chevron-down .menu-list {
  margin: 10px 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: height 0.7s, visibility 0.5s, opacity 0.3s;
}

.gnb-menu-item-chevron-up .menu-list {
  margin: 10px 0;
  height: 80px;
  opacity: 1;
  visibility: visible;
  transition: height 0.7s, visibility 0.5s, opacity 0.3s;
}

.list-item {
  margin: 0 15px 0 5px;
  padding-left: 10px;
  color: #ccc;
}

.list-item:hover {
  background-color: #ccc;
  color: #333;
}
