.info {
  padding-left: 10px;
  margin-top: 3px;
  font-size: 14px;
  color: #999;
}

.title {
  margin-right: 35px;
}

.speaker {
  margin-right: 3px;
}

.date {
  margin-right: 15px;
}

.eye {
  margin-right: 3px;
}

.counter-eye {
  margin-right: 15px;
}

.heart {
  margin-right: 3px;
}
