.top-auth {
  position: absolute;
  top: 0;
  right: 0;
  width: 1027px;
  height: 87px;
  border-bottom: 1px solid #ccc;
}

.inner {
  position: absolute;
  right: 30px;
  top: 30px;
  display: flex;
}

.top-auth button {
  font-size: 18px;
}

.top-auth .user-icon {
  font-size: 25px;
}

.nickname {
  margin-left: 10px;
}

.profile {
  margin-right: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.login {
  margin-left: 10px;
}

.profile img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}
