* {
  margin: 0;
  font-family: noto sans kr, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html {
  font-family: noto sans kr, sans-serif;
}

body {
  font-family: noto sans kr, sans-serif;
}

h1 {
  margin: 0;
}

a {
  color: black !important;
  text-decoration: none !important;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

input,
textarea,
select,
button {
  background-color: transparent;
  border: 0;
}

a,
button {
  cursor: pointer;
}
